@import "./breakpoints";
@import "./fonts";
@import "./theme.scss";

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;

  background-color: $background;
}
a {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
.text {
  font-family: $Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text;
}
.main-content {
  display: flex;
  padding: 1.5rem;
  gap: 1rem;
  justify-content: center;
  @include tablet {
    background-color: white;
  }
}

.maintab {
  box-sizing: border-box;
  max-width: 99vw;
  width: 99vw;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  // padding: 5.75rem;
}