@import "./breakpoints";
@import "./fonts";
@import "./theme.scss";

.tabs {
  border-radius: $border-radius-large;
  border: 1px solid $text-fade;
  box-shadow: 1px 4px 45px rgba(0, 0, 0, 0.08);
  width: 99vw;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  background-color: $white;

  @include tablet {
    width: auto;
    box-shadow: none;
  }

  @include landscape {
    width: auto;
  }

  .tabs-header {
    padding: 20px;
    padding-left: 7rem;
    display: flex;
    gap: 3rem;
    // justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $text-fade;
    list-style: none;

    .react-tabs__tab-panel--selected {
      border-bottom: 3px solid black;
    }

    .tabs-title {
      font-family: $Poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: $text;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .tabs-content {
    box-sizing: border-box;
    padding: 32px 40px;
    padding-left: 112px;
    padding-right: 112px;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      padding: 20px;
    }

    p {
      font-family: $Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $black;
    }
  }
}

.no-border {
  @include tablet {
    border-radius: 0 !important;
  }
}
